body {
    text-align: center;
    background-image: url(../images/chess.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(230,230,230);
    font-size: 18px;
}

.logo {
    margin-top: 5px;
    margin-left: 3px;
    width: 55px;
    height: 55px;
    float: left;
}

h1 {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 2px 3px 1px rgb(60,60,60);
}

.level {
  display: flex;
  text-shadow: 2px 3px 1px rgb(60,60,60);
  margin: auto;
  width: 150px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
}
